
.main-footer {
    background-color: rgba(222, 124, 0, 0.8);
}

.img-col-footer {
    width: 20px;
    height: 20px;
}

.img-box {
    width: 220px;
    height: 105px;
}

.footer-text {
    font-size: 24px;
}

.padding-row-footer {
    padding-top: 30px;
}