

.btn-size{
    border: 1px solid;
    width: 100px;
}

.img-box-logo {
    width: 250px;
    height: 345px;
    padding-top: 30px;
}

.position-form {
    margin-top: 3%;
}

.form-size {
    height: 820px;
}